:root {
  --light-green: #abd699;
  --light-lemon: #fce469;
  --coral-green: #73c9b7;
  --soft-gray: #c7dfcd;
  --dark-blue: #15123f;

  --urgent-red: #f7241d;
  --default-blue: #13efff;
  --low-priority-yellow: rgb(255, 248, 56);
  --important-green: #00ad42;

  --font-spartan: "League Spartan", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-spartan);
}

body {
  height: 100vh;
  background-color: rgb(238, 238, 232);
}
#root {
  display: flex;
}
.glass {
  background: rgba(255, 255, 255, 0.207);
  border-radius: 0.4rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.3px);
}
.hide {
  display: none;
}
button,
input {
  cursor: pointer;
}
