.sidebar {
  color: var(--dark-blue);
  height: 100vh;
  width: 18rem;
  padding: 1rem;
  font-family: var(--font-spartan);
  border-right: 1px solid white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: sticky;
  top: 0;
  bottom: 0;
}
.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.title,
.item,
.collections-wrapper,
.todo-statistics {
  padding: 0.8rem 0.7rem;
}
.collections,
.productivity {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.item {
  font-size: larger;
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
.item svg {
  width: 1.4rem;
}
.item-num {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
